.active-event{
    background-color: chartreuse;
}

.archived-event{
    background-color:red;
}

.undefined-event{
    background-color: gray;
}

.event-content-box{
    background-color: rgb(255, 255, 255);
    height:150px;
    margin-bottom: 5px;
}

.event-box{
    margin-bottom: 2px;
    height: 150px;
}


