.active-event{
    background-color: rgb(68, 153, 68);
}

.archived-event{
    background-color:red;
}

.undefined-event{
    background-color: gray;
}

.event-content-box{
    background-color: rgb(255, 255, 255);
    height:150px;
    margin-bottom: 5px;
    border-radius:10px;
}

.event-box{
    margin-bottom: 10px;
    height: 150px;
    border-radius:10px;
}


