.login, .signup, .upload {
    width: 100%;
    border: none;
    height: 45px;
    font-size: 16pt;
    background-color: #424250;
    color: white;
    display: block;
}

.error{
    color: red;
    visibility: hidden;
}

.password, .username, .firstname, .lastname, .dob, .profession-drop-down, .email {
    background-color: #D4D4BF;
    color: #424250;
    width: 100%;
    border: none;
    height: 35px;
    font-size: 14pt;
    padding-left: 20px;
}

.password-label, .username-label, .firstname-label, .lastname-label, .dob-label, .profession-label, .email-label{
    height: 35px;
    width: 100%;
    font-size: 14pt; 
    display: block;
    line-height: 35px;
}

.padded-row{
    padding-left: 30px;
    padding-right: 30px;
}